<div class="header bg-gradient-danger pb-8 pt-3 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
              <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0" #target>Brand Add</h3>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <form [formGroup]="brandAdd"
                (ngSubmit)="addBrand(target)"
                #ngForm
                method="post">
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-12">
  
                        <app-text-input 
                          [formControl]='brandAdd.controls["name"]' 
                          [label]='"Brand Name"' 
                          [class]='"form-control"' 
                          [type]='"text"'>
                        </app-text-input> 
  
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6">
  
                        <input type="file" formControlName="image" (change)="onImageSelected($event)">
                        <p class="form_error" *ngIf="brandAdd.get('image').hasError('required')" class="form_error">*BrandImage məcburidir!</p>
                      </div>
                      <div class="col-lg-6">
  
                        <input type="file" formControlName="posterImage" (change)="onPosterImageSelected($event)">
                        <p class="form_error" *ngIf="brandAdd.get('posterImage').hasError('required')" class="form_error">*BrandPosterImage məcburidir!</p>
  
                      </div>
                    </div>
                  </div>
                  <div class="pl-lg-4">
                    <div class="form-group">
                      <app-textarea-input
                        [formControl]='brandAdd.controls["description"]' 
                        [label]='"Brand Description"' 
                        [placeholder]='"Brand description"'
                        [class]='"form-control"' 
                      >
                    </app-textarea-input>
                    </div>
                  </div>
                  <div class="pl-lg-4">
                    <div class="text-center">
                      <button (click)="addBrand(target)" type="button" class="btn btn-primary my-2 py-3 w-100">Create Brand</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>