<div *ngIf="dataLoaded==true" class="header bg-gradient-danger pb-8 pt-3 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
              <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0" #target>Product Edit</h3>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <form 
                    [formGroup]="productEditForm"
                    (ngSubmit)="edit(target)"
                    method="post">
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-12">
                        <ul *ngIf="validationErrors.length != 0" class="form_error-list">
                          <li *ngFor="let error of validationErrors" class="form_error_item">*{{error.ErrorMessage}}</li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
  
                        <app-text-input 
                          [formControl]='productEditForm.controls["name"]' 
                          [label]='"ProductName"' 
                          [class]='"form-control"' 
                          [type]='"text"'
                          [value]='"{{product.name}}"'
                          >
                        </app-text-input> 
  
                      </div>
                      <div class="col-lg-6">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
  
                        <app-text-input 
                          [formControl]='productEditForm.controls["salePrice"]' 
                          [label]='"SalePrice"' 
                          [class]='"form-control"' 
                          [type]='"number"'
                          [value]='"{{product.salePrice}}"'
                          >
                        </app-text-input> 
  
                      </div>
                      <div class="col-lg-4">
  
                        <app-text-input 
                          [formControl]='productEditForm.controls["costPrice"]' 
                          [label]='"Cost Price"' 
                          [class]='"form-control"' 
                          [value]='"{{product.costPrice}}"'
                          [type]='"number"'>
                        </app-text-input>
  
                      </div>
                      <div class="col-lg-4">
  
                        <app-text-input 
                          [formControl]='productEditForm.controls["discountPercent"]' 
                          [label]='"Discount Percent  "' 
                          [class]='"form-control"' 
                          [value]='"{{product.discountPercent}}"'
                          [type]='"number"'>
                        </app-text-input> 
                        
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <input type="file" formControlName="posterImage" (change)="onFileSelected($event)">
                          <p class="form_error" *ngIf="(productEditForm.controls.posterImage.touched) && productEditForm.controls.posterImage.errors?.required" class="form_error">*ProducImage məcburidir!</p>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div id="selectedBanner">
                            <img [src]="getProductImagePath(product.posterImage)" style="width: 100%; height: 200px; object-fit: contain;" alt="">
                        </div>
                      </div>
                    </div>
  
  
                  </div>
                  <div class="pl-lg-4">
                    <div class="form-group">
                      <app-textarea-input
                          [formControl]='productEditForm.controls["description"]' 
                          [label]='"Product Description"' 
                          [placeholder]='"Product description"'
                          [class]='"form-control"'
                          [value]='"{{product.description}}"'
                        >
                      </app-textarea-input>
                    </div>
                  </div>
                  <div class="pl-lg-4">
                    <div class="text-center">
                      <button (click)="edit(target)" type="button" class="btn btn-primary my-2 py-3 w-100">Edit Product</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
