.form_error{
    display: none;
    margin-bottom: 15px;
    color: red;
    text-align: start;
    font-size: 16px;
  }
  .form_is-invalid ~ .form_error{
    display: block;
  }
  .form_is-invalid{
    border: 1px solid red !important;
  }
  label{
    display: block;
  }